/* universal styles */
html {
  background-color: white;
  color: black;
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.4;
}

li a {
  color: white;
  text-decoration: none;
  padding-right: 2rem;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* header styles */
header {
  height: 31rem;
  background-image: url("../images/glasses-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding-top: 1rem;
}

header .flex.container {
  background-color: cadetblue;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  padding: 0 0 0 2rem;
}

.logo img {
  height: 1.5rem;
}

.logo span {
  margin-left: 1rem;
  padding: 1rem 0;
}

nav ul {
  display: flex;
}

ul.mobile {
  display: none;
}

.banner.container {
  display: flex;
  justify-content: flex-end;
  padding: 10rem 0 0 0;
}

.content {
  display: inline-block;
  background-color: white;
  color: black;
  margin-right: -2rem;
}

.content h1 {
  padding: 1.5rem 5rem;
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 1.2;
  font-weight: bold;
}

@media only screen and (max-width: 1024px) {
  header {
    height: 22rem;
  }

  header .container {
    top: 0;
  }
}

@media only screen and (max-width: 640px) {
  header {
    height: 17rem;
    background-position: 20%;
  }

  ul.desktop {
    display: none;
  }

  ul.mobile {
    display: block;
  }
}

/* footer styles */
footer {
  margin-top: 5rem;
}

footer img {
  height: 1.5rem;
  margin-right: 1rem;
}

footer .container {
  background-color: azure;
  justify-content: flex-start;
  padding: 4rem;
}

@media only screen and (max-width: 1024px) {
  footer {
    margin-bottom: 5rem;
  }
}

@media only screen and (max-width: 485px) {
  footer {
    margin-bottom: 0;
  }

  footer span {
    display: none;
  }

  footer .container {
    justify-content: center;
  }
}
